[submodule "src/mumble"]
	path = src/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api
[submodule "src/nexus"]
	path = src/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "src/tinyxml2"]
	path = src/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/RaidcoreGG/imgui.git
